 <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ime natjecatelja</th>
                    <th>Ime natjecanja</th>
                    <th>Broj bodova</th>
                    <th>Mogućnosti</th>
                </tr>
            </thead>
            <!-- body -->
            <tbody>

                {{#each result.items}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.korisnik}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.bodovi}}</td>
                    <td class="flex flex-wrap gap-2">
                        {{#if ../user.is_admin}}
                        <a href="/competitions/bodovi/{{this.id}}" class="btn btn-secondary btn-xs">Upiši bodove</a>
                         <a href="/competitions/deleted/{{this.id}}" class="btn btn-error btn-xs">Briši</a>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>